.color{
  float: left;
  width: 20px;
  height: 20px;
  margin : 5px;
}
.green{
  background-color: green;
}
.red{
    background-color: red;
    color: red;
}
.blue{
    background-color: blue;
    color: blue;
}

.text-green {
    color: green;
}
.text-red {
    color: red;
}
.text-blue {
    color: blue;
}
